@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format ("truetype");
}

* {
  margin: 0;
  font-family: "Manrope", "Verdana", "Times New Roman";
}

@media (max-width: 575px) {
  .app {
    margin: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .app {
    margin: 30px 30px 30px 30px;
  }
}

@media (min-width: 1024px) {
  .app {
    margin: 4% 10% 4% 7%;
  }
}
